In [2]:
import pandas as pd
import numpy as np

In [3]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                            title  year
0                        Anita B.  2014
1                   Bloody Border  2013
2  Mademoiselle Josette, ma femme  1914
3                   Super Heal Me  2014
4         R and J: The True Story  2012

In [4]:
cast_1 = pd.read_csv("data/cast/cast_1.csv")
cast_2 = pd.read_csv("data/cast/cast_2.csv")
cast_3 = pd.read_csv("data/cast/cast_3.csv")

cast = pd.concat([cast_1, cast_2, cast_3])
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

### Which three years of the 1930s saw the most films released?

### Find the number of films that have been released each decade over the history of cinema.

### Find the number of "Hamlet" films made each decade.

### Find the number of "Rustler" characters in each decade of the history of film.

### Find the number of "Hamlet" characters each decade.

### What are the 11 most common character names in movie history?

### Who are the 10 people most often credited as "Herself" in film history?

### Who are the 10 people most often credited as "Himself" in film history?

### Which actors or actresses appeared in the most movies in the year 1945?

### Which actors or actresses appeared in the most movies in the year 1985?

### Find how many roles Mammootty has played in each year of his career.

### What are the 10 most frequent roles that start with the phrase "Patron in"?

### What are the 10 most frequent roles that start with the word "Science"?