# Hands-On Session

**Workflow for this Hands-On Session**

1. Write Python code to solve the programming questions
2. All the questions are based on what we have already questioned
3. Solutions to all the questions are available in the Solutions.ipynb Jupyter notebook
4. It is highly encouraged to solve the programming questionnaires on your own even though you can refer to the solutions

**Q1. Write a NumPy program to generate five random numbers**

**Q2. Write a NumPy program to generate six random integers between 10 and 30**

**Q3. Create a 4X2 integer array and prints the following attributes**    
  
**1.The shape of an array.**  
**2. Array dimensions.**  
**3. The Length of each element of the array in bytes.**

**Q4. Create a 5X2 integer array from a range between 100 to 200 such that the difference between each element is 10**

**Q5. Following is the provided numPy array.**     
**Return array of items in the third column from all rows**  
  
**import numpy**  
**sampleArray = numpy.array([[11 ,22, 33], [44, 55, 66], [77, 88, 99]])**

**Q6. Create an 8X3 integer array from a range between 10 to 34 such that the difference between each element is 1 and then Split the array into four equal-sized sub-arrays.**

**Q7. Following is the input for NumPy array**  
**Delete column two and insert following new column in its place.**  

**import numpy**  
**sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]])**  
**newColumn = numpy.array([[10,10,10]])**

**Q8. How to find the memory size of any array?**

**Q9. Create a null vector of size 10 but the fifth value which is 1.**

**Q10. Create a vector with values ranging from 10 to 49.**

**Q11. Reverse a vector (first element becomes last)**

**Q12. Create a 3x3 matrix with values ranging from 0 to 8.**

**Q13. Find indices of non-zero elements from [1,2,0,0,4,0]**

**Q14. Create a 3x3 identity matrix**

**Q15. Create a 3x3x3 array with random values.**

**Q16. Create a random vector of size 30 and find the mean value.**

**Q17. Guess the results of the following expressions?**  
**print(0 * np.nan)**  
**print(np.nan == np.nan)  
print(np.inf > np.nan)  
print(np.nan - np.nan)  
print(np.nan in set([np.nan]))  
print(0.3 == 3 * 0.1)**

**Q17. Create a 8x8 matrix and fill it with a checkerboard pattern.**

**Q18. Multiply a 5x3 matrix by a 3x2 matrix (real matrix product)**

**Q19. What is the output of the following code?**  
```import numpy as np
print(np.sum(range(5)))
print(np.sum(range(5)))```

**Q20. What are the result of the following expressions?**

```print(np.array(0) / np.array(0))
print(np.array(0) // np.array(0))```

**Q21. Create a random vector of size 10 and sort it.**

**Q22. How to get the positions where elements of two arrays match?**    
**a = np.array([1,2,3,2,3,4,3,4,5,6])**    
**b = np.array([7,2,10,2,7,4,9,4,9,8])**

**How to get the positions where elements of two arrays match?**  
**a = np.array([1,2,3,2,3,4,3,4,5,6])**  
**b = np.array([7,2,10,2,7,4,9,4,9,8])**

**Q23. How to extract all numbers between a given range from a numpy array?**    
**a = np.array([2, 6, 1, 9, 10, 3, 27])**  
**index = np.where((a >= 5) & (a <= 10))**  
**a[index]**

**Q24. How to reverse the columns of a 2D array?**  
**arr = np.arange(9).reshape(3,3)**

**Q25. How to limit the number of items printed in output of numpy array?**  
**a = np.arange(15)**

**Q25. Import pandas under the name pd.**

 **Q26. Print the version of pandas that has been imported.**

**Q27. Print out all the version information of the libraries that are required by the pandas library.**

In [3]:
import numpy as np
# Consider the following Python dictionary data and Python list labels:

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**Q28. Create a DataFrame df from this dictionary data which has the index labels.**

**Q29. Display a summary of the basic information about this DataFrame and its data.**

**Q30. Return the first 3 rows of the DataFrame df.**

**Q31. Select just the 'animal' and 'age' columns from the DataFrame df.**

**Q32. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].**

**Q33. Select only the rows where the number of visits is greater than 3.**

**Q34. Select the rows where the age is missing, i.e. is NaN.**

**Q35. Select the rows where the animal is a cat and the age is less than 3.**

**Q36. Select the rows the age is between 2 and 4 (inclusive).**

**Q37. Change the age in row 'f' to 1.5.**

**Q38. Calculate the sum of all visits (the total number of visits).**

**Q38. Calculate the mean age for each different animal in df.**

**Q39. Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.**

 **Q40. Count the number of each type of animal in df.**

**Q41. Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.**

**Q42. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.**

 **Q43. In the 'animal' column, change the 'snake' entries to 'python'.**

**Q44. A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example:**  

```df = pd.DataFrame(  
    {  
        "grps": list("aaabbcaabcccbbc"),  
        "vals": [12, 345, 3, 1, 45, 14, 4, 52, 54, 23, 235, 21, 57, 3, 87],  
    }  
)```  

**For each group, find the sum of the three greatest values.**